@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@font-face {
    font-family: 'Caviar Dreams';
    src: url('../font/Caviar/CaviarDreams.ttf');
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url('../font/Caviar/CaviarDreams_Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../font/Museo/MuseoSans_500.otf');
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../font/Museo/MuseoSans_500.otf');
    font-weight: bold;
}